@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
}

.flex1 {
  display: flex;
  flex-direction: row;
}

.list1 {
  margin-top: 20px;
}

.navbar-inverse {
  background: #2c3e50;
}

.jumbotron {
  color: #2c3e50;
}

#content {
  text-align: center;
  padding-top: 25%;
}

.body1 {
  background-image: url(https://i.pinimg.com/736x/e6/6d/db/e66ddbe6925551552200514fe8d114bc--green-eyes-bengal-cats.jpg);
  background-size: cover;
}
